/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */




/* ===============================
   DASHBOARD RESPONSIVE BRANDING
================================ */
@media screen and (max-width: 850px) {
  .logo-res {
    display: none;


  }
}

@media screen and (max-width:965px) {
  .logo-res {
    position: relative;
    top: 200px;


  }
}

/* Base (desktop / tablet) */
.order-summary-fixed {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 50;
}

/* Sidebar space (lg screens) */
@media (min-width: 1024px) {
  .order-summary-fixed {
    right: 3rem;
    /* 16rem sidebar + gap */
  }
}

/* Mobile only (≤ 500px) */
@media (max-width: 500px) {
  .order-summary-fixed {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 16px;
  }
}

/* body {
  overflow: hidden;
} */

/* [data-aos="fade"] {
  transform: scale(0.985);
}
[data-aos="fade"].aos-animate {
  transform: scale(1);
} */
